In [39]:
import pandas as pd

url = 'https://github.com/ironhack-labs/lab-customer-analysis-round-2/raw/master/files_for_lab/csv_files/marketing_customer_analysis.csv'
df = pd.read_csv(url)

In [40]:
df.head(6) #comprobando que se ha cargado correctamente

,Unnamed: 0,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,...,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,...,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN
5,5,HO81102,NaN,4745.181764,NaN,Basic,High School or Below,2/14/11,Employed,M,...,0.0,7,Personal Auto,Personal L3,Offer1,Agent,292.800000,Four-Door Car,Medsize,A

In [41]:
df.shape #shape of dataframe

(10910, 26)

In [42]:
df.columns = df.columns.str.lower().str.replace(' ', '_') #standarize columns names

In [43]:
numerical_columns = df.select_dtypes(include=['number']).columns
categorical_columns = df.select_dtypes(include=['object']).columns
print("Numerical Columns: ", numerical_columns)
print("Categorical Columns:", categorical_columns) #Identify categorical and numerical columns

Numerical Columns:  Index(['unnamed:_0', 'customer_lifetime_value', 'income',
       'monthly_premium_auto', 'months_since_last_claim',
       'months_since_policy_inception', 'number_of_open_complaints',
       'number_of_policies', 'total_claim_amount'],
      dtype='object')
Categorical Columns: Index(['customer', 'state', 'response', 'coverage', 'education',
       'effective_to_date', 'employmentstatus', 'gender', 'location_code',
       'marital_status', 'policy_type', 'policy', 'renew_offer_type',
       'sales_channel', 'vehicle_class', 'vehicle_size', 'vehicle_type'],
      dtype='object')

In [44]:
df = df.dropna() #checking and dealing with NaN Values

In [45]:
df['effective_to_date'] = pd.to_datetime(df['effective_to_date'])
df['month'] = df['effective_to_date'].dt.month

filtered_data = df[df['month'].isin([1, 2, 3])]
print("Data for the first quarter:")
print(filtered_data) #Extract the months from the dataset and store in a separate column. Then filter the data to show only the information for the first quarter , ie. January, February and March

Data for the first quarter:
       unnamed:_0 customer       state  customer_lifetime_value response  \
2               2  LZ68649  Washington             14947.917300       No
3               3  XL78013      Oregon             22332.439460      Yes
10             10  HG93801     Arizona              5154.764074       No
13             13  KR82385  California              5454.587929       No
16             16  FH51383  California              5326.677654       No
...           ...      ...         ...                      ...      ...
10902       10902  PP30874  California              3579.023825       No
10903       10903  SU71163     Arizona              2771.663013       No
10904       10904  QI63521      Nevada             19228.463620       No
10906       10906  KX53892      Oregon              5259.444853       No
10908       10908  WA60547  California             11971.977650       No

       coverage             education effective_to_date employmentstatus  \
2         Basic              Bachelor        2011-02-10         Employed
3      Extended               College        2011-01-11         Employed
10     Extended  High School or Below        2011-01-02         Employed
13        Basic                Master        2011-01-26         Employed
16        Basic  High School or Below        2011-02-07         Employed
...         ...                   ...               ...              ...
10902  Extended  High School or Below        2011-01-24         Employed
10903     Basic               College        2011-01-07         Employed
10904     Basic  High School or Below        2011-02-24       Unemployed
10906     Basic               College        2011-01-06         Employed
10908   Premium               College        2011-02-13         Employed

      gender  ...  number_of_policies     policy_type        policy  \
2          M  ...                   2   Personal Auto   Personal L3
3          M  ...                   2  Corporate Auto  Corporate L3
10         M  ...                   1  Corporate Auto  Corporate L3
13         M  ...                   4   Personal Auto   Personal L3
16         F  ...                   6   Personal Auto   Personal L3
...      ...  ...                 ...             ...           ...
10902      F  ...                   1   Personal Auto   Personal L2
10903      M  ...                   1   Personal Auto   Personal L2
10904      M  ...                   2   Personal Auto   Personal L2
10906      F  ...                   6   Personal Auto   Personal L3
10908      F  ...                   6   Personal Auto   Personal L1

       renew_offer_type  sales_channel  total_claim_amount  vehicle_class  \
2                Offer3    Call Center          480.000000            SUV
3                Offer2         Branch          484.013411  Four-Door Car
10               Offer2         Branch          442.521087            SUV
13               Offer4    Call Center          331.200000   Two-Door Car
16               Offer4    Call Center          300.528579   Two-Door Car
...                 ...            ...                 ...            ...
10902            Offer2          Agent          655.200000  Four-Door Car
10903            Offer2         Branch          355.200000   Two-Door Car
10904            Offer1         Branch          897.600000     Luxury SUV
10906            Offer2         Branch          273.018929  Four-Door Car
10908            Offer1         Branch          618.288849            SUV

       vehicle_size vehicle_type month
2           Medsize            A     2
3           Medsize            A     1
10            Large            A     1
13          Medsize            A     1
16            Large            A     2
...             ...          ...   ...
10902       Medsize            A     1
10903       Medsize            A     1
10904       Medsize            A     2
10906       Medsize            A     1
10908       Medsize            A     2

[4543 rows x 27 columns]

C:\Users\User\AppData\Local\Temp\ipykernel_4064\3721086672.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['effective_to_date'] = pd.to_datetime(df['effective_to_date'])

In [46]:
def process_data(url):
    df = pd.read_csv(url) #BONUS: Put all the previously mentioned data transformations into a function.

    df.columns = df.columns.str.lower().str.replace(' ', '_')
    
    numerical_columns = df.select_dtypes(include=['number']).columns
    categorical_columns = df.select_dtypes(include=['object']).columns
    
    df = df.dropna()
    
    df['effective_to_date'] = pd.to_datetime(df['effective_to_date'])
    df['month'] = df['effective_to_date'].dt.month
    filtered_data = df[df['month'].isin([1, 2, 3])]
    
    return df, filtered_data

In [47]:
df

,unnamed:_0,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,...,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type,month
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2011-02-10,Employed,M,...,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A,2
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,2011-01-11,Employed,M,...,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A,1
10,10,HG93801,Arizona,5154.764074,No,Extended,High School or Below,2011-01-02,Employed,M,...,1,Corporate Auto,Corporate L3,Offer2,Branch,442.521087,SUV,Large,A,1
13,13,KR82385,California,5454.587929,No,Basic,Master,2011-01-26,Employed,M,...,4,Personal Auto,Personal L3,Offer4,Call Center,331.200000,Two-Door Car,Medsize,A,1
16,16,FH51383,California,5326.677654,No,Basic,High School or Below,2011-02-07,Employed,F,...,6,Personal Auto,Personal L3,Offer4,Call Center,300.528579,Two-Door Car,Large,A,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10902,10902,PP30874,California,3579.023825,No,Extended,High School or Below,2011-01-24,Employed,F,...,1,Personal Auto,Personal L2,Offer2,Agent,655.200000,Four-Door Car,Medsize,A,1
10903,10903,SU71163,Arizona,2771.663013,No,Basic,College,2011-01-07,Employed,M,...,1,Personal Auto,Personal L2,Offer2,Branch,355.200000,Two-Door Car,Medsize,A,1
10904,10904,QI63521,Nevada,19228.463620,No,Basic,High School or Below,2011-02-24,Unemployed,M,...,2,Personal Auto,Personal L2,Offer1,Branch,897.600000,Luxury SUV,Medsize,A,2
10906,10906,KX53892,Oregon,5259.444853,No,Basic,College,2011-01-06,Employed,F,...,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A,1
10908,10908,WA60547,California,11971.977650,No,Premium,College,2011-02-13,Employed,F,...,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A,2

In [48]:
filtered_data

,unnamed:_0,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,...,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type,month
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2011-02-10,Employed,M,...,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A,2
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,2011-01-11,Employed,M,...,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A,1
10,10,HG93801,Arizona,5154.764074,No,Extended,High School or Below,2011-01-02,Employed,M,...,1,Corporate Auto,Corporate L3,Offer2,Branch,442.521087,SUV,Large,A,1
13,13,KR82385,California,5454.587929,No,Basic,Master,2011-01-26,Employed,M,...,4,Personal Auto,Personal L3,Offer4,Call Center,331.200000,Two-Door Car,Medsize,A,1
16,16,FH51383,California,5326.677654,No,Basic,High School or Below,2011-02-07,Employed,F,...,6,Personal Auto,Personal L3,Offer4,Call Center,300.528579,Two-Door Car,Large,A,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10902,10902,PP30874,California,3579.023825,No,Extended,High School or Below,2011-01-24,Employed,F,...,1,Personal Auto,Personal L2,Offer2,Agent,655.200000,Four-Door Car,Medsize,A,1
10903,10903,SU71163,Arizona,2771.663013,No,Basic,College,2011-01-07,Employed,M,...,1,Personal Auto,Personal L2,Offer2,Branch,355.200000,Two-Door Car,Medsize,A,1
10904,10904,QI63521,Nevada,19228.463620,No,Basic,High School or Below,2011-02-24,Unemployed,M,...,2,Personal Auto,Personal L2,Offer1,Branch,897.600000,Luxury SUV,Medsize,A,2
10906,10906,KX53892,Oregon,5259.444853,No,Basic,College,2011-01-06,Employed,F,...,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A,1
10908,10908,WA60547,California,11971.977650,No,Premium,College,2011-02-13,Employed,F,...,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A,2

In [49]:
df, filtered_data

(       unnamed:_0 customer       state  customer_lifetime_value response  \
 2               2  LZ68649  Washington             14947.917300       No
 3               3  XL78013      Oregon             22332.439460      Yes
 10             10  HG93801     Arizona              5154.764074       No
 13             13  KR82385  California              5454.587929       No
 16             16  FH51383  California              5326.677654       No
 ...           ...      ...         ...                      ...      ...
 10902       10902  PP30874  California              3579.023825       No
 10903       10903  SU71163     Arizona              2771.663013       No
 10904       10904  QI63521      Nevada             19228.463620       No
 10906       10906  KX53892      Oregon              5259.444853       No
 10908       10908  WA60547  California             11971.977650       No

        coverage             education effective_to_date employmentstatus  \
 2         Basic              Bachelor        2011-02-10         Employed
 3      Extended               College        2011-01-11         Employed
 10     Extended  High School or Below        2011-01-02         Employed
 13        Basic                Master        2011-01-26         Employed
 16        Basic  High School or Below        2011-02-07         Employed
 ...         ...                   ...               ...              ...
 10902  Extended  High School or Below        2011-01-24         Employed
 10903     Basic               College        2011-01-07         Employed
 10904     Basic  High School or Below        2011-02-24       Unemployed
 10906     Basic               College        2011-01-06         Employed
 10908   Premium               College        2011-02-13         Employed

       gender  ...  number_of_policies     policy_type        policy  \
 2          M  ...                   2   Personal Auto   Personal L3
 3          M  ...                   2  Corporate Auto  Corporate L3
 10         M  ...                   1  Corporate Auto  Corporate L3
 13         M  ...                   4   Personal Auto   Personal L3
 16         F  ...                   6   Personal Auto   Personal L3
 ...      ...  ...                 ...             ...           ...
 10902      F  ...                   1   Personal Auto   Personal L2
 10903      M  ...                   1   Personal Auto   Personal L2
 10904      M  ...                   2   Personal Auto   Personal L2
 10906      F  ...                   6   Personal Auto   Personal L3
 10908      F  ...                   6   Personal Auto   Personal L1

        renew_offer_type  sales_channel  total_claim_amount  vehicle_class  \
 2                Offer3    Call Center          480.000000            SUV
 3                Offer2         Branch          484.013411  Four-Door Car
 10               Offer2         Branch          442.521087            SUV
 13               Offer4    Call Center          331.200000   Two-Door Car
 16               Offer4    Call Center          300.528579   Two-Door Car
 ...                 ...            ...                 ...            ...
 10902            Offer2          Agent          655.200000  Four-Door Car
 10903            Offer2         Branch          355.200000   Two-Door Car
 10904            Offer1         Branch          897.600000     Luxury SUV
 10906            Offer2         Branch          273.018929  Four-Door Car
 10908            Offer1         Branch          618.288849            SUV

        vehicle_size vehicle_type month
 2           Medsize            A     2
 3           Medsize            A     1
 10            Large            A     1
 13          Medsize            A     1
 16            Large            A     2
 ...             ...          ...   ...
 10902       Medsize            A     1
 10903       Medsize            A     1
 10904       Medsize            A     2
 10906       Medsize            A     1
 10908       Medsize            A     2

 [4543 rows x 27 columns],
        unnamed:_0 customer       state  customer_lifetime_value response  \
 2               2  LZ68649  Washington             14947.917300       No
 3               3  XL78013      Oregon             22332.439460      Yes
 10             10  HG93801     Arizona              5154.764074       No
 13             13  KR82385  California              5454.587929       No
 16             16  FH51383  California              5326.677654       No
 ...           ...      ...         ...                      ...      ...
 10902       10902  PP30874  California              3579.023825       No
 10903       10903  SU71163     Arizona              2771.663013       No
 10904       10904  QI63521      Nevada             19228.463620       No
 10906       10906  KX53892      Oregon              5259.444853       No
 10908       10908  WA60547  California             11971.977650       No

        coverage             education effective_to_date employmentstatus  \
 2         Basic              Bachelor        2011-02-10         Employed
 3      Extended               College        2011-01-11         Employed
 10     Extended  High School or Below        2011-01-02         Employed
 13        Basic                Master        2011-01-26         Employed
 16        Basic  High School or Below        2011-02-07         Employed
 ...         ...                   ...               ...              ...
 10902  Extended  High School or Below        2011-01-24         Employed
 10903     Basic               College        2011-01-07         Employed
 10904     Basic  High School or Below        2011-02-24       Unemployed
 10906     Basic               College        2011-01-06         Employed
 10908   Premium               College        2011-02-13         Employed

       gender  ...  number_of_policies     policy_type        policy  \
 2          M  ...                   2   Personal Auto   Personal L3
 3          M  ...                   2  Corporate Auto  Corporate L3
 10         M  ...                   1  Corporate Auto  Corporate L3
 13         M  ...                   4   Personal Auto   Personal L3
 16         F  ...                   6   Personal Auto   Personal L3
 ...      ...  ...                 ...             ...           ...
 10902      F  ...                   1   Personal Auto   Personal L2
 10903      M  ...                   1   Personal Auto   Personal L2
 10904      M  ...                   2   Personal Auto   Personal L2
 10906      F  ...                   6   Personal Auto   Personal L3
 10908      F  ...                   6   Personal Auto   Personal L1

        renew_offer_type  sales_channel  total_claim_amount  vehicle_class  \
 2                Offer3    Call Center          480.000000            SUV
 3                Offer2         Branch          484.013411  Four-Door Car
 10               Offer2         Branch          442.521087            SUV
 13               Offer4    Call Center          331.200000   Two-Door Car
 16               Offer4    Call Center          300.528579   Two-Door Car
 ...                 ...            ...                 ...            ...
 10902            Offer2          Agent          655.200000  Four-Door Car
 10903            Offer2         Branch          355.200000   Two-Door Car
 10904            Offer1         Branch          897.600000     Luxury SUV
 10906            Offer2         Branch          273.018929  Four-Door Car
 10908            Offer1         Branch          618.288849            SUV

        vehicle_size vehicle_type month
 2           Medsize            A     2
 3           Medsize            A     1
 10            Large            A     1
 13          Medsize            A     1
 16            Large            A     2
 ...             ...          ...   ...
 10902       Medsize            A     1
 10903       Medsize            A     1
 10904       Medsize            A     2
 10906       Medsize            A     1
 10908       Medsize            A     2

 [4543 rows x 27 columns])